.homePage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
}

.homePage button {
    margin: 0px 10px;
}

button :nth-child(1) {
    text-decoration: none;
    color: black;
}

.homePage button:hover {
    cursor: pointer;
    color: white;
}