@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@keyframes ping-large {
  75%,
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

.ping-large {
  animation: ping-large 1s ease-in-out infinite;
}

.container {
  margin: 0 auto;
  padding: 1rem;
}

/* Medium screens: 768px and larger */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* Large screens: 1300px and larger */
@media (min-width: 1300px) {
  .container {
    max-width: 1300px;
  }
}
